[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
faker = "*"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
pyjwt = "*"
python-decouple = "*"
marshmallow = "*"
webargs = "*"
databases = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
