.images{
  height: 100vmax;
  width: 100%; 
}

.cart{
  background-color: rgb(50, 50, 241);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.cart:hover{
  background-color: darkblue;
}

  .view{
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .view:hover{
    background-color: darkgreen;
  }