.images{
  height: 100vmax;
  width: 100%; 
}
img{
  height: 40vmax;
  width: 60%; 
}

.cadii{
  justify-content: center;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}
 .cadii:hover{
  background-color: #327b7e;
 }

#imaging1{
  height: 25vmax;
  width: 95%;
}

.cart{
  width: 100%;
  /* margin-left: 170px; */
  background-color: rgb(50, 50, 241);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.cart:hover{
  background-color: darkblue;
}

  .view{
    width: 100%;
    /* margin-left: 170px; */
    background-color: mediumseagreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .view:hover{
    background-color: darkgreen;
  }